[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
port = 14306
bind-address = 0.0.0.0
max_allowed_packet=500M
default_storage_engine = innodb
innodb_file_per_table = true
innodb_large_prefix = true
innodb_file_format = Barracuda
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
log-bin = mysql-bin
server-id = 1
innodb_log_files_in_group = 2
innodb_log_file_size = 2G
sync_binlog = 0
innodb_flush_log_at_trx_commit = 2

# Docker specific
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket   = /var/run/mysqld/mysqld.sock
basedir    = /usr
datadir    = /var/lib/mysql
tmpdir   = /tmp
lc-messages-dir  = /usr/share/mysql
