*.iml
.idea
.DS_Store
.classpath
.settings/
.project
*.prefs
.*.swp
target/
phantomjsdriver.log
.cache
.tmpBin
dependency-reduced-pom.xml
*.orig
*.mwb.bak
dump.rdb
pom.xml.versionsBackup
build.gradle~
.gradle
.gradletasknamecache
/1store/build
sencha-error-*.log
**/intapps
**/deployedbundles
gradlew.bat
*.log
