.wrapper {
    position: relative;
    display: flex;
    /* justify-content: space-between; */
}

.bg-color {
    position: absolute;
    right: 0px;
    width: 80%;
    height: 80%;
    background-color: #f2f2f2;
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20%;
    margin-top: 15%;
}

.headshot {
    max-width: 80%;
    font-size: 3.5vw;
    font-weight: 600;
    line-height: 1.33;
    color: #222222;
}

.tagline {
    max-width: 90%;
    font-size: 1vw;
    line-height: 1.75;
    color: #444444;
}

.icon-wrapper {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 8%;
}
.googleplay {
    width: 40%;
    min-height: 50px;
    background-size: 100% 100%;
    background-image: url("./Assets/rsz_googleplay.png");
}

.appstore {
    width: 40%;
    min-height: 50px;
    background-size: 100% 100%;
    background-image: url("./Assets/rsz_appstore.png");
}

.left {
    box-shadow: 10px -5px 10px #e8e7e3;
    margin-top: 10%;
    margin-right: 5%;
    position: relative;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* height: 70vh; */
    background-image: url("./Assets/rsz_1mobileapp.png");
}